#DEFINE ICON 500
#DEFINE BACKGROUND 100
#DEFINE CELLS 101
#DEFINE BALL 102
#DEFINE PLAYER 103

ICON ICON MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\icon.ico"

BACKGROUND BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\background.bmp"
CELLS BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\cells\\cells.bmp"
BALL BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\ball.bmp"
PLAYER BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\player.bmp"