500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\icon.ico"

100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\cells\\cell-1.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\cells\\cell-2.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\cells\\cell-3.bmp"
103 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\cells\\cell-4.bmp"
104 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\cells\\cell-5.bmp"
105 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\cells\\cell-6.bmp"
110 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\background.bmp"
111 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\ball.bmp"
112 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\assets\\player.bmp"