#define APP_ICON 500
#define BACKGROUND 100
#define CELLS 101
#define BALL 102
#define PLAYER 103
#define GAMEOVER 104
#define STARTING 105

APP_ICON ICON MOVEABLE PURE LOADONCALL DISCARDABLE "assets\breakout.ico"

BACKGROUND BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\background.bmp"
CELLS BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\cells.bmp"
BALL BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\ball.bmp"
PLAYER BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\player.bmp"
GAMEOVER BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\gameover.bmp"
STARTING BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "assets\starting.bmp"