#define desenho1 100
#define desenho2 101
#define mina 102



500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "MAINICON.ICO"

desenho1 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "BITMAP.BMP"
desenho2 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "B2.BMP"
mina BITMAP DISCARDABLE "Sweep.bmp"

600 MENUEX MOVEABLE IMPURE LOADONCALL DISCARDABLE
BEGIN
    POPUP "&File", , , 0
    BEGIN
    	MENUITEM "&Teste", 1001
        MENUITEM "&Sair", 1000
    END
    POPUP "&Help", , , 0
    BEGIN
        MENUITEM "&Sobre", 1900
    END
END


